{% extends 'index.html' %}

{% block content %}
  <br />
  <center>
    <h1>LIBRO DE RECLAMACIONES EN SALUD VIRTUAL</h1>
  </center>
  <br />
  <form method="post">
    {% csrf_token %}
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title" style="margin-left:20px">
            <b>Regístra tu Reclamo - Hoja de Reclamación en Salud</b>
          </div>
        </div>
        <div class="panel-body" style="margin:8px">
          <div class="form-row row" style="margin-left:20px  ">
            <div class="form-group col-md-6" style="margin-top:24px">
              <input type="text" class="form-control" disabled id="diris" placeholder="Dirección de Redes Integradas de Salud Lima Sur" />
            </div>
            <div class="form-group col-md-6">
              <label for="inputestablecimiento">Establecimiento de salud</label>
              <select class="form-select" name="inputestablecimiento" class="form-control">
                {% for c in entidad %}
                  <option value="{{ c.0 }}">{{ c.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-row row" style="margin-left:20px  ">
            <div class="form-group col-md-6" style="margin-top:15px">
              <label for="inputtiposervicio">Tipo de servicio prestado</label>
              <select class="form-select" name="inputtiposervicio" class="form-control">
                {% for key, value in tipo_servicio.items %}
                  <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title" style="margin-left:20px">
            <b>1. IDENTIFICACION DEL USUARIO O TERCERO LEGITIMADO</b>
          </div>
        </div>
        <div class="panel-body" style="margin:8px">
          <div class="form-row row" style="margin-left:20px ">
            <div class="form-group col-md-4">
              <label for="inputtipodoc">Seleccione tipo de documento</label>
              <select class="form-select" id="inputtipodocusuario" name="inputtipodocusuario" class="form-control" onchange="activar_nombre_usuario()">
                {% for key, value in tipo_documento.items %}
                  <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputdocumento">Numero de documento</label>
              <input type="number" class="form-control" id="inputdocumentousuario" placeholder="" name="inputdocumentousuario" />
            </div>
            <br /><div class="form-group col-md-4" style="margin-top: 23px">
              <button type="button" class="btn btn-primary">Consultar</button>
            </div>
          </div>
          <div class="form-row row" style="margin-left:20px ">
            <div class="form-group col-md-6">
              <label for="inputusuario">Nombre de usuario</label>
              <input type="text" class="form-control" disabled id="inputnombreusuario" placeholder="" />
            </div>

            <div class="form-group col-md-6">
              <label for="inputcorreo">Correo</label>
              <input type="text" class="form-control" id="inputcorreousuario" placeholder="" name="inputcorreousuario" />
            </div>
          </div>
          <div class="form-row row" style="margin-left:20px ">
            <div class="form-group col-md-4">
              <label for="inputtelefono">Télefono</label>
              <input type="number" class="form-control" id="inputtelefonousuario" placeholder="" name="inputtelefonousuario" />
            </div>
            <div class="form-group col-md-4">
              <label for="inputdistrito">Seleccione distrito</label>
              <select id="inputdistrito" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="form-row row" style="margin-left:20px ">
            <div class="form-group col-md-12">
              <label for="inputdireccion">Dirección</label>
              <input type="text" class="form-control" id="inputdireccionusuario" placeholder="" name="inputdireccionusuario" />
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title" style="margin-left:20px">
            <b>2. IDENTIFICACION DE QUIEN PRESENTA EL RECLAMO (En caso de ser el usuario afectado no es necesario su llenado)</b>
          </div>
        </div>
        <div class="panel-body" style="margin:8px">
          <div class="form-row row" style="margin-left:20px ">
            <div class="form-group col-md-4">
              <label for="inputtipodoc">Seleccione tipo de documento</label>
              <select class="form-select" id="inputtipodocpresenta" name="inputtipodocpresenta" class="form-control" onchange="activar_nombre_usuario_2()">
                {% for key, value in tipo_documento.items %}
                  <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputdocumento">Numero de documento</label>
              <input type="number" class="form-control" id="inputdocumentopresenta" placeholder="" name="inputdocumentopresenta" />
            </div>
            <br /><div class="form-group col-md-4" style="margin-top: 23px">
              <button type="button" class="btn btn-primary">Consultar</button>
            </div>
          </div>
          <div class="form-row row" style="margin-left:20px ">
            <div class="form-group col-md-6">
              <label for="inputusuario">Nombre de usuario</label>
              <input type="text" class="form-control" disabled id="inputusuario" placeholder="" />
            </div>

            <div class="form-group col-md-6">
              <label for="inputcorreo">Correo</label>
              <input type="text" class="form-control" id="inputcorreopresenta" placeholder="" name="inputcorreopresenta" />
            </div>
          </div>
          <div class="form-row row" style="margin-left:20px ">
            <div class="form-group col-md-4">
              <label for="inputtelefono">Télefono</label>
              <input type="number" class="form-control" id="inputtelefonopresenta" placeholder="" name="inputtelefonopresenta" />
            </div>
            <div class="form-group col-md-4">
              <label for="inputdistrito">Seleccione distrito</label>
              <select id="inputdistrito" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="form-row row" style="margin-left:20px ">
            <div class="form-group col-md-12">
              <label for="inputdireccion">Dirección</label>
              <input type="text" rows="4" class="form-control" id="inputdireccionpresenta" placeholder="" name="inputdireccionpresenta" />
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title" style="margin-left:20px">
            <b>3. DETALLE DEL RECLAMO</b>
          </div>
        </div>

        <div class="panel-body" style="margin:8px">
          <div class="form-row" style="margin-left:20px">
            <div class="form-group col-md-12">
              <textarea class="form-control" rows="5" id="detallereclamo" name="detallereclamo"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title" style="margin-left:20px">
            <b>4. AUTORIZACIÓN DE NOTIFICACIÓN DEL RESULTADO DEL RECLAMO</b>
          </div>
        </div>

        <div class="panel-body" style="margin:8px">
          <div class="form-row row" style="margin-left:20px ">
            <div class="form-group col-md-7">
              <select class="form-select" name="inputautoriza" class="form-control">
                {% for key, value in autorizacion.items %}
                  <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <!--       <div class="form-check" style="margin-left:20px">
            <input class="form-check-input" value="0" type="radio" name="input_no_autorizo"  checked />
            <label class="form-check-label"  for="flexRadioDefault2">No autorizo que se me notifique el resultado del reclamo al email consignado</label>
          </div>       -->
        </div>
      </div>

      <p id="piepagina1" align="center">
        <b>Las IAFAS, IPRESS o UGIPRESS deben atender el reclamo en un plazo de 30 días hábiles.</b>
      </p>
      <p id="piepagina2" align="center">"Estimado Usuario: Usted puede presentar su denuncia ante SUSALUD ante hechos o actos que vulneren o pudieran vulnerar el derecho a la salud, o cuando no le hayan brindado un servicio, prestación o coberturas solicitadas o recibidas de las IAFAS O IPRESS o que dependen de las UGIPRESS pública, privada o mixtas, también ante la negativa de atención de su reclamo, irregularidad en su tramitación o disconformidad con el resultado del mismo o hacer uso de los mecanismos alternativos de solución de controversias ante el Centro de Conciliación y Arbitraje - CECONAR de SUSALUD".</p>
      <br /> <div align="center">
        <button type="submit" class="btn btn-primary btn-lg" style="margin-bottom:45px">Registrar</button>
      </div>
    </div>
  </form>

  <script type="text/javascript">
    function activar_nombre_usuario() {
      var select = document.getElementById('inputtipodocusuario')
      var valorSeleccionado = select.value
    
      if (valorSeleccionado == 1) {
        document.getElementById('inputnombreusuario').disabled = true
      } else {
        document.getElementById('inputnombreusuario').disabled = false
      }
    }
    function activar_nombre_usuario_2() {
      var select = document.getElementById('inputtipodocpresenta')
      var valorSeleccionado = select.value
    
      if (valorSeleccionado == 1) {
        document.getElementById('inputusuario').disabled = true
      } else {
        document.getElementById('inputusuario').disabled = false
      }
    }
  </script>

  {% if messages %}
    {% for msg in messages %}
      <b>{{ msg }}</b>
    {% endfor %}
  {% endif %}
{% endblock %}
